<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abre a Câmera</title>
</head>
<body>
    <h1>Abra a Câmera do Celular</h1>
    <video id="camera" autoplay></video>
    <canvas id="imagem"></canvas>
    <button id="startCamera">Iniciar Câmera</button>
    <button id="tirarFoto">Tirar Foto</button>
    <button id="enviarFotoBtn" style="display: none;">Enviar/Salvar Foto</button>

    <script src='{{ marcelo }}'></script>
</body>
</html>
